name: tests
# on: push
on: [repository_dispatch, workflow_dispatch]
jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.14'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          apt install -y adduser base-files bash bash-completion binutils binutils-common:amd64 ca-certificates command-not-found coreutils cron-daemon-common debconf dhcpcd-base e2fsprogs fuse3 g++ g++-13-x86-64-linux-gnu g++-x86-64-linux-gnu gcc-13-x86-64-linux-gnu git hdparm keyutils libacl1:amd64 libattr1:amd64 libaudit-common libbinutils:amd64 libbrotli1:amd64 libc-bin libc6-dev:amd64 libc6:amd64 libcom-err2:amd64 libctf0:amd64 libcurl3t64-gnutls:amd64 libgcc-13-dev:amd64 libgcc-s1:amd64 libgmp10:amd64 libgnutls30t64:amd64 libgssapi-krb5-2:amd64 libhogweed6t64:amd64 libidn2-0:amd64 libisl23:amd64 libjansson4:amd64 libk5crypto3:amd64 libkeyutils1:amd64 libkrb5-3:amd64 libkrb5support0:amd64 libldap2:amd64 libmagic1t64:amd64 libmecab2:amd64 libmpc3:amd64 libmpfr6:amd64 libnettle8t64:amd64 libnghttp2-14:amd64 libp11-kit0:amd64 libpam-runtime libpcre2-8-0:amd64 libpsl5t64:amd64 libpython3.14-dev:amd64 libpython3.14-stdlib:amd64 librtmp1:amd64 libsasl2-2:amd64 libselinux1:amd64 libsensors-config libsframe1:amd64 libssh-4:amd64 libstdc++-13-dev:amd64 libstdc++6:amd64 libtasn1-6:amd64 libtirpc-common libunistring5:amd64 libzstd1:amd64 linux-libc-dev:amd64 locales login logrotate lsb-release ltrace make man-db media-types multipath-tools nano ncurses-base netbase nftables openssl overlayroot procps python3.14 rsyslog screen sed sudo tar tzdata ucf usb-modeswitch util-linux walinuxagent wget
          pip install hypothesis==6.151.0 pure_eval==0.2.3 pydantic_core==2.41.5 torch==2.10.0+cpu uv==0.9.26
      - name: Execute Tests
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install numpy
          pip -v install -e .
          python3 -m pip install pytest pytest-asyncio hypothesis
          python3 -m pip install torch --index-url https://download.pytorch.org/whl/cpu
          python3 -m pip install .
          python3 -m pytest
