name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install numpy
          pip -v install -e .
          python3 -m pip install pytest pytest-asyncio hypothesis
          python3 -m pip install torch --index-url https://download.pytorch.org/whl/cpu
          python3 -m pip install .

      - name: Run tests
        run: python3 -m pytest
